<div class="tab-pane fade show active" id="list-edit-user" role="tabpanel" aria-labelledby="list-edit-user-list">
<h4> Insert only details that you would like to change</h4>
<%= form_for(:api_admin ,url:'/api_admin', html: {class: 'edit_user'}, remote:true  ) do %>
  <p><%= text_field_tag 'email',nil,placeholder:   "Email: #{@user.email} Read Only", size:50,disabled: true %></p>
  <p><%= text_field_tag 'points',nil,placeholder: "Points: #{@user.points} Read Only", size:50,disabled: true %></p>
  <p><%= text_field_tag 'user_name',nil,placeholder: "username: #{@user.username}", size:50,:required => true %></p>
  <p><%= text_field_tag 'avatar',nil,placeholder: "avatar: #{@user.avatar}", size:50,:required => true %></p>
  <p>
    Edit Role:
    <%= radio_button_tag 'role', 'Manager'%>
    <%= label_tag 'Manager' %>
    <%= radio_button_tag 'role', 'Player',true %>
    <%= label_tag 'Player' %>
  </p>
  <%= hidden_field_tag(:request_type,'edit_user') %>
  <p> <%= button_tag 'Submit Edit'%></p>
<% end %>
</div>