<script>
    var current_page = 1;
    var records_per_page = 5;
    var objJson = <%= @elements.html_safe %>; // get elements from api


    function prevPage()
    {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage()
    {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page)
    {
        var btn_next = document.getElementById("btn_next");
        var btn_prev = document.getElementById("btn_prev");
        var listing_table = document.getElementById("listingTable");
        var page_span = document.getElementById("page");

        // Validate page
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();

        listing_table.innerHTML = "";

        for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {

            listing_table.innerHTML +="<b>Id:</b> "+ objJson[i].id+ " <b>Name:</b> "+objJson[i].name+" <b>Type:</b> "+ objJson[i].type +"<b>Location X:</b> "+ objJson[i].location.x+" <b>Location Y:</b> "+objJson[i].location.y;
            listing_table.innerHTML+=" <b>Attributes:</b> "+ JSON.stringify(objJson[i].attributes)+"<br><br>";

        }
        page_span.innerHTML = page + "/" + numPages();

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page == numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages()
    {
        return Math.ceil(objJson.length / records_per_page);
    }

    window.onload = function() {
        changePage(1);
    };
</script>



<head> <h1> Manager Actions:</h1></head>
<h1> Tools index </h1>

<h6> Welcome <%= @user.username %> Your points are: <%=@user.points %></h6>
<br>

<body>


<div class="row">
  <div class="col-4">
    <% if @user.role =='Manager' %>  <%= render partial: 'admin_actions' %> <% else %> <%= render partial: 'player_actions' %> <%end %>

  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">

      <%= render partial: 'create_message' %>
      <%= render partial: 'create_element' %>

      <div class="tab-pane fade" id="list-view-all-elements" role="tabpanel" aria-labelledby="list-view-all-elements-list">
        <div id="listingTable"></div>
        <a href="javascript:prevPage()" id="btn_prev">Prev</a>
        <a href="javascript:nextPage()" id="btn_next">Next</a>
        <br><br>
        page: <span id="page"></span>
      </div>

      <%= render partial: 'edit_user' %>

      <%= render partial: 'edit_element' %>

      <%= render partial: 'elements_attribute' %>

      <%= render partial: 'elements_by_location' %>

    </div>


    <p><div id="showResults"></div></p>


  </div>

</div>

</body>

