<%= form_for( :login,url:'/login',remote:true  ) do %>
  <p><%= text_field_tag 'email',nil,placeholder: 'Insert email', size:50,:required => true %></p>
  <p><%= text_field_tag 'user_name',nil,placeholder: 'Insert username', size:50,:required => true %></p>
  <p><%= text_field_tag 'avatar',nil,placeholder: 'Insert avatar', size:50,:required => true %></p>
  <%= radio_button_tag 'role', 'Manager'%>
  <%= label_tag 'Manager' %>
  <%= radio_button_tag 'role', 'Player',true %>
  <%= label_tag 'Player' %>
  <%= hidden_field_tag(:request_type,'create_user') %>
  <p> <%= button_tag 'Submit Create'%></p>
<% end %>