<%= form_for( :login,url:'/login',remote:true  ) do %>
  <p><%= text_field_tag 'email',nil,placeholder: 'Insert email', size:50,:required => true %></p>
  <p><%= text_field_tag 'playground',nil,placeholder: 'Insert playground', size:50,:required => true %></p>
  <%= hidden_field_tag(:request_type,'login') %>
  <p> <%= button_tag 'Login' %></p>
<% end %>